@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --blue: #5280e2;
  --green: #15cdcb;
  --bg: #212226;
  --lightgrey: #e0dede;
  --medium-grey: #2f3034;

  --menu-height: 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;;
}

body {
  background: var(--bg);
  color: #fff;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  font-weight: 400;
}

p {
  color: var(--lightgrey);
}

button {
  background: var(--blue);
  border: 0;
  border-radius: 16px;
  padding: 8px 35px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.secondary-button {
  background-color: var(--medium-grey);
  border: 1px solid var(--blue);
  color: var(--green);
  font-weight: bold;
  height: 80px;

  display: flex;
  align-items: center;
}

.secondary-button img {
  margin-right: 15px;
}

.secondary-button:hover {
  cursor: pointer;
}

header {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

header .container {
  width: 50%;
  height: fit-content;
  padding: 0 100px;
}

header .container img {
  display: none;
}

header .container button {
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--menu-height);
  padding: 0 100px;
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 99;
}

nav img {
  height: 45px;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav ul a {
  font-size: 24px;
  color: var(--green);
  text-decoration: none;
}

nav ul a svg {
  display: none;
}

.title-blue {
  color: #5280e2;
}

.title-green {
  color: #15cdcb;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.about-me .img-container .line.blue {
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  border: 1px solid var(--blue);

  position: absolute;
  top: -25px;
  left: calc(50% - 35% - 25px);
}

.about-me .img-container .line.green {
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  border: 1px solid var(--green);

  position: absolute;
  top: -25px;
  left: calc(50% - 35% - 25px);
  transform: rotate(-3.3deg);
}

.about-me .img-container img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.services {
  text-align: center;
  margin: 150px 0;
  padding: 0 100px;
}

.services-container, .portfolio .portfolio-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto 0;
}

.services .services-container .service-card {
  max-width: 360px;
  background: #2f3034;
  border: 1px solid var(--blue);
  border-radius: 16px;
  padding: 40px 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.services .services-container .service-card img {
  margin: 40px;
  width: 90px;
}

.service-card + .service-card {
  margin-left: 10px;
}

.portfolio {
  padding: 0 100px;
  margin-bottom: 100px;
  text-align: center;
  background: url(/assets/portfolio-bg.png);
  height: 800px;
}

.portfolio .portfolio-container {
  margin-top: 130px;
}

.portfolio .portfolio-container .portfolio-card {
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);
  border: 1px solid #fff;
  border-radius: 16px;
  max-width: 360px;
  text-align: left;
  padding: 50px 25px;
}

.portfolio .portfolio-container .portfolio-card .img-container {
  margin: 0 25px 50px;
  position: relative;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
  width: 100%;
  border-radius: 16px;
}

.portfolio .portfolio-container .portfolio-card .img-container .line.green {
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  border: 1px solid var(--green);
  border-radius: 16px;

  position: absolute;
  top: -13px;
  left: calc(50% - 50% - 12px);
  transform: rotate(-1.9deg);
}

.portfolio .portfolio-container .portfolio-card .language-container {
  margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  display: flex;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 16px;
  padding: 3px 15px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li + li {
  margin-left: 10px;
}

.portfolio-card + .portfolio-card {
  margin-left: 10px;
}

.curriculum {
  padding: 0 100px;
  text-align: center;
}

.curriculum .container {
  display: flex;
  margin: 50px auto;
  max-width: 1200px;
}

.curriculum .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.curriculum .container .content .curriculum-info {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 1rem;
  margin-bottom: 50px;
}

/*  Media Queries - Responsiveness */

/* Small Desktops */
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }
  
  nav {
    padding: 0 30px;
  }

  nav ul a {
    font-size: 18px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container, .about-me .img-container {
    width: 100%;
  }

  .about-me .container {
    padding-right: 0;
  }

  .about-me .img-container {
    margin: 70px 0;
  }

  .services, .portfolio {
    padding: 0;
  }

  .services .services-container, .portfolio .portfolio-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    height: 394px;
  }
  
  .service-card + .service-card, .portfolio-card + .portfolio-card {
    margin-left: 0;
    margin-top: 30px;
  }

  .portfolio {
    height: 100%;
  }

  .curriculum .container {
    flex-wrap: wrap;
  }

  .curriculum .container .curriculum-img {
    display: block;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 520px;
  }
}

/* Tablets */
@media (max-width: 767px) {
  header .container img {
    display: inline;
    margin-bottom: 70px;
  }

  nav img {
    display: none;
  }

  nav ul a {
    font-size: 16px;
  }

}

/* Smartphones */
@media (max-width: 480px) {
  body {
    margin-bottom: calc(var(--menu-height) + 50px);
  }
  
  header .container {
    padding: 0 40px;
  }

  nav {
    position: fixed;
    bottom: 0;
    top: unset;
    width: 100%;
    padding: 0 15px;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }

  .about-me {
    padding: 40px;
  }

  .services {
    margin: 70px 0;
  }

  .services .services-container, .portfolio .portfolio-container {
    padding: 0 20px;
  }

  .portfolio {
    margin: 100px 0 50px;
  }

  .portfolio .portfolio-container {
    margin-top: 70px;
  }

  .curriculum {
    padding: 0 20px;
  }

  .curriculum .container .content .curriculum-info {
    padding: 0 15px;
  }
}